@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">TeachHaven</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .card-row {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

<div class="card-row">
    <div  div class="card text-center" style="width:400px">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.9-0J6y8BJiAlJ23uByM0BwHaHa?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Airpods</h4>
            <p class="card-text">$400</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.9-0J6y8BJiAlJ23uByM0BwHaHa?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Airpods </h4>
            <p class="card-text">$400</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.9-0J6y8BJiAlJ23uByM0BwHaHa?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Airpods</h4>
            <p class="card-text">$400</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div>
